body {
    margin: 40px;
}


#wrapper {
    height: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 2fr [nav],6fr [nav2],2fr;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-areas:    "head head head" 
                            "nav main nav2"
                            "foot foot foot"
                            ;
    grid-auto-rows: 20%;
}
#wrapper > header {
    grid-area: head;
    background-color: #7f8bc7;
  }
  
  #wrapper > nav {
    
    background-color: #bd71b6;
  }
  #wrapper > nav2 {
    
    background-color: #7e544b;
  }
  
  #wrapper > main {
    grid-area: main;
    background-color: #4fa375;
  }
  
  #wrapper > footer {
    grid-area: foot;
    background-color: #795b9b;
  }
  @media (max-width: 600px) {
    #wrapper {
        height: 300px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas:    "head" 
                                "nav"
                                "nav2" 
                                "main"
                                "foot";
        grid-auto-rows: 20%;
    }
}