body {
    margin: 40px;
}

.box {
    background-color: rgb(221, 132, 132);
    
}

.wrapper {
    width: 600px;
    height: 600px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: column;
}