.fila1{
    background-color: green;
    height: 50px;
    border-style: solid;
    border-color: white;
}
.cuadradoAzul{
    background-color: lightblue;
    height: 50px;
    border-style: solid;
    border-color: white;
}