.fila1{
    background-color: green;
    height: 50px;
    border-style: solid;
    border-color: white;
}
.rectanguloRojo{
    background-color: red;
    height: 200px;
    border-style: solid;
    border-color: white;
}
.fila2{
    background-color: pink;
    height: 50px;
    border-style: solid;
    border-color: white;
}
.naranja{
    background-color: orange;
    height: 50px;
    border-style: solid;
    border-color: white;
}
.fila3{
    background-color: blue;
    height: 50px;
    border-style: solid;
    border-color: white;
}